<!DOCTYPE html>
<html>
<head>
    <title>
        Display Home
    </title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
    <body>
        <h2 class="card-header" align="center"><b>Book Form</b></h2>
        <br>

        <form action="{% url 'homepage' %}" method="post" >
           <div class="mb-3">
            {% csrf_token %}

            {% if single_book %}
                <h4>Book ID :-</h4> <input type="number" name="bid" value="{{single_book.id}}" readonly class="form-control"><br><br>
            {% endif %}

            <h4>Book Name :-</h4> <input type="text" name="bname" value="{{single_book.name}}" placeholder="Enter Book Name" class="form-control"><br><br>
            <h4>Book Price:-</h4> <input type="number" name="bprice" value="{{single_book.price}}" placeholder="Enter Book Price" class="form-control"><br><br>
            <h4>Book Qty :-</h4> <input type="number" name="bqty" value="{{single_book.qty}}" placeholder="Enter Book Qty" class="form-control"><br>
                
            &nbsp;<input class="btn btn-success" type="submit" value="Submit">
           </div>
        </form>
        <br>
        <table><tr>&nbsp;&nbsp;
            <a  class="btn btn-primary" href="{% url 'show_all_books' %}">Show All Books</a>&nbsp;&nbsp;
            <a  class="btn btn-primary" href="{% url 'show_soft_delete' %}">Show Soft Deleted</a></tr></table>
            
           

    </body>

</html>
