<html>
<head>
    <title>
        All Books
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
    <body>
        <h3  class="card-header" align="center"><b>All Books</b></h3>
        <h3 class="btn btn-light"><a class="btn btn-primary"  href="{% url 'homepage' %}">HOME</a></h3>
        <br>
        
        <table  border=1 style="width: 60%" class="table table-dark table-hover" align="center" >
            <tr> 
                <th>BookID</th>
                <th>BookName</th>
                <th>BookPrice</th>
                <th>BookQty</th>
                <th>Action</th>
            </tr>
            {% for i in books %}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.name}}</td>
                <td>{{i.price}}</td>
                <td>{{i.qty}}</td>
                <td><table>
                    <tr>
                        
                    <a href="{% url 'edit' i.id %}" class="btn btn-primary">Edit</a>&nbsp;&nbsp;


                    <form action="{% url 'soft_delete' i.id %}" method="POST" >
                        {% csrf_token%}
                        <input type="submit" value="Soft Delete" class="btn btn-warning">
                    </form>&nbsp;&nbsp;

                    <form action="{% url 'delete' i.id %}" method="POST">
                        {% csrf_token%}
                        <input type="submit" value="Hard Delete" class="btn btn-danger"> 
                    </form>         

                </tr>
                </table>

                </td>
            </tr>
            {% empty %}
            <tr><td colspan="5" align="center">No data Available</td></tr>
            {% endfor %}
        </table><br>
        <br>
        <form action="{% url 'delete_all' %}" method="POST" align="center">
            {% csrf_token %}
            <a class="btn btn-primary" href="{% url 'show_soft_delete' %}">Show Soft Deleted</a>&nbsp;&nbsp;
            <input type="submit" value="Delete All" class="btn btn-danger">
            
        </form>
        

    </body>

</html>